<div class="card">
  <div class="card-content">
    <div class="content">
      <h4>An Error occurred while processing your order, please try again later.</h4>
      <%=link_to 'Back to Home Page', root_path %>
  </div>
</div>