<div class="columns is-multiline is-mobile">
  <% @products.each do |product|%>
    <div class="column is-one-third">
      <%= link_to render(:partial => 'product', object: product, locals: { product_page: false }), product %>
    </div>
  <%end%>
</div>