<div class="columns is-multiline is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <%= render partial: 'product', object: @product,  locals: { product_page: true }%>
  </div>
</div>